* {
    box-sizing: border-box;
}
table {
    table-layout: fixed ;
}
body > h1{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: var(--main);
}

@media screen and (min-width: 400px){
    #cal-month, #cal-year {
        display: block;
        width: 150px;
        float: right;
        margin: 10px;
        margin-top: 0;
    }
    #cal-year{
        margin-right: 3%;
    }
    #cal-input{ 
        width: 57%;
    }
    #cal-button{
        width: 30%;
    }
    #cal-input, #cal-button, #cal-import{
        height: 7vh;
        display: inline-block;
        border: 1px solid var(--main);
        border-radius: 10px;
        padding: 1vh;
        margin: 20px 10px 15px 30px;
        vertical-align: top;
        color: var(--main);
        background: none;
        overflow: hidden;
        font-size: medium;
    }
    #cal-import {
        display: block;
        float: left;
        margin-top: 0;
        margin-left: 5%;
        height: 7vh;
        padding: 1vh;
        width: 30%;
    }
    .Theme-black {
        padding: 10px 40px;
    }
}

@media screen and (max-width: 400px){
    #cal-month, #cal-year {
        display: block;
        width: 150px;
        float: right;
        margin: 10px;
        margin-top: 10px;
    }
    #cal-input{ 
        float:center;
        width: 90%;
        padding: 3vh;
        height: 7vh;
        margin: 5px;
        font-size: medium;
    }
    #cal-button{
        float: left;
        display: flex;
        width: 30%;
        padding: 1vh;
        padding-top: 10px;
        height: 9vh;
        margin: 5px 0 0 10px;
    }
    #cal-input, #cal-button, #cal-import{
        border: 1px solid var(--main);
        border-radius: 10px;
        vertical-align: top;
        color: var(--main);
        background: none;
        overflow: hidden;
    }
    #cal-import {
        height: 7vh;
        padding: 1vh;
        padding-top: 10px;
        display: flex;
        float: left;
        margin: 8px 0 20px 10px;
        width: 30%;
    }
    .Theme-black {
        padding: 20px;
    }
    #Cal-main{
        font-size: 10px;
    }
}


#Cal-main {
    position: relative;
    width: 100%;
    float: center;
    border: 1px solid var(--main);
    border-radius: 10px;
    padding: 2%;
    color: var(--main);
    font-family: 'Signika', sans-serif;
}

#cal-input:focus, #cal-button:focus, #cal-import:focus{
    border-color: #e7e97e;
    outline-color: #e7e97e;
}

#cal-button:hover, #cal-import:hover{
    background: var(--hover);
}

.Cal-title-row > * {
    height: 5vh;
    text-align: center;
}
.Cal-content-row > * {
    height: 15vh;
    padding: 2vh;
} 

.notclickable{
    pointer-events: none;
}
.date{
    text-align: top;
    vertical-align: top;
    border-radius: 10%;
    transition: 0.1s;
    word-break:break-word;
}


.cal-todo-row:hover, .date:hover{
    background-color: var(--hover);
    /* cursor: pointer; */
}

.cal-tod-row.clicked, .date.clicked{
    background-color:var(--box);
    color:var(--text);
}

.cal-todo-row {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 10%;
}

.cal-todo-task {
    display: inline;
    width: 80%;
    padding-left: 15%;
    text-align: center;
    vertical-align: center;
    border-radius: 10%;
    transition: 0.1s;
    word-break:break-word;
}

.cal-x {
    display: inline;
    opacity: 0;
    vertical-align: center;
    height: 20px;
    transition: 0.1s;
}

.cal-x:hover {
    opacity: 1;
    cursor: pointer;
    border: 5px;
}

.cal-todolist {
    text-align: center;
    vertical-align: center;
    border-radius: 10%;
    transition: 0.1s;
    word-break:break-word;
    background-color: #483D8B;
}
.cal-todolist:hover {
    opacity: 0.8;
}
/*****************Themes*****************/
.Theme-black {
    --main: rgb(255, 255, 255);
    --box: rgba(255, 255, 255, 0.486);
    --text: rgb(215,96,93);
    --hover: rgba(255, 255, 255, 0.267);
    --bg-0: 215,96,93;
    --bg-1: 255,230,123;
}


#Theme-black { background-color: rgba(215, 95, 93, 0.5); }