.App {
  text-align: center;
  
}

html,body,#root{
  height: 100%;
}
@media screen and (min-width: 400px){
  .nav_bar{
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 10px;
    left: 0;
  }
  .main_screen{
    height: 100%;
    width: 90%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    right: 0;
  }
  .usercaption{
    bottom: 0;
    left: 0;
    padding: 15px;
    z-index: 100;
    display:table;
    position: fixed;
    width: fit-content;
  }
  .column1{
    width: 50%;
    height: 100%;
    float:left;
  }
  .column2{
    padding: 40px;
    width: 50%;
    height: 100%;
    float:right;
  }
  .card{
    width: 200px;
    position: relative;
    border-style: none;
    opacity: 1;
    margin:10px;
    transition: opcacity 0.3s;
    transition: display 0.4s;
  }
  .cardd{
    margin: 0;
    height:45px;
    padding:10px !important;
  }
  .card:hover{
    border-style: dotted;
    opacity: 0.4;
    margin: 8px;
    text-decoration: line-through;
  }
  .addgroup{
    width: 500px;
    align-content: center;
    display: inline-block;
    clear: right;
    padding-inline: 50px;
    padding-right: 100px;
  }
  .pick{
    display: block;
    clear: left;
    padding-left:40px;
  }
  .Countdown{
    margin: 20px 10px 0 30px;
    padding: 40px 40px;
    display: block;
    float:center;
  }
  .navitem{
    width: fit-content;
    height: fit-content;
  }
  .Countdown-col-element strong{
    font-size: 40px;
  }
}
@media screen and (max-width: 400px){
  nav{
    width: 100%;
  }
  li{
    display: inline-flex;
    width: fit-content !important;
    flex-wrap: nowrap;
  }
  .Countdown{
    margin: 20px 20px 0px 20px;
    padding: 30px 10px;
    display: block;
  }
  .Countdown-col-element strong{
    font-size: 30px;
  }
  .cardd{
    margin: 0;
    height:65px;
    padding:10px !important;
  }
  .pick{
    display: block;
    clear: left;
    padding:20px;
  }
  .addgroup{
    width: 300px;
    align-content: center;
    display: inline-block;
    clear: right;
    padding-inline: 10px;
  }
  .card{
    width: 125px;
    height: 70px;
    overflow: hidden;
    position: relative;
    border-style: none;
    opacity: 1;
    margin:10px;
    transition: opcacity 0.3s;
    transition: display 0.4s;
  }
  .card:hover{
    border-style: dotted;
    opacity: 0.4;
    margin: 8px;
    text-decoration: line-through;
  }
  .nav_bar{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    overflow-x: hidden;
    justify-content:space-around;
  }
  .main_screen{
    height: 100%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  }
  .usercaption{
    top: 0;
    right:0;
    padding: 15px;
    z-index: 100;
    display:table;
    position: fixed;
    width: fit-content;
    flex-wrap: nowrap
  }
}

.user{
  top: 130px;
  padding-top: 10px;
}
.Register_page{
  height: 100%;
  padding-top: 5px;
  text-align: center;
  background-color: #b489a6;
}
.select{
  width: 250px;
  margin: auto;
}

.Home_page{
  height: 100%;
  text-align: center;
  background-color: #b4b389;
  padding-top: 5px;
}

.login_page{
  height: 100%;
  padding-top: 5px;
  text-align: center;
  background-color: #89b4ae;
}

.user_page{
  height: 100%;
  overflow: auto;
  text-align: center;
  background-color: #8997b4;
}

.button{
  padding: 20px;
}

.title{
  margin-top: 0px;
  margin-bottom: 5px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.userhome{
  height: 100%;
  width: 55%;
  z-index: 1;
  overflow-x: hidden;
  float: right;
  position: relative;
}

.twocolumns{
  display: flex;
  flex-wrap: wrap;
  padding:5% 4%;
}

.cell{
  padding:10px 8px !important;;
}
.time{
  float: center;
  color:#ebd248;
  font-weight: 500 !important;
  background-color: #23292e !important;
}
.noon.cell {
  border-top: 5px solid;
  border-bottom: 2px;
  /* background-color: #ce286d !important; */
  /* color: white */
}
.group{
  background-color: #daba05 !important;
  color:white !important;
}
.disable{
  pointer-events: none;
}
.mmee{
  background-color: #ce286d !important;
}
