.App {
  text-align: center;
}
.nav_bar{
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 10px;
  left: 0;
}
.user{
  top: 130px;
  padding-top: 10px;
}

.main_screen{
  height: 100%;
  width: 90%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  right: 0;
}
.Register_page{
  height: 100%;
  padding-top: 5px;
  text-align: center;
  background-color: #b489a6;
}
.select{
  width: 250px;
  margin: auto;
}

.Home_page{
  height: 100%;
  text-align: center;
  background-color: #b4b389;
  padding-top: 5px;
}

.login_page{
  height: 100%;
  padding-top: 5px;
  text-align: center;
  background-color: #89b4ae;
}

.user_page{
  height: 100%;
  overflow: auto;
  text-align: center;
  background-color: #8997b4;
}

.button{
  padding: 20px;
}

.usercaption{
  bottom: 0;
  left: 0;
  padding: 15px;
  z-index: 100;
  display:table;
  position: fixed;
  width: fit-content;
}

.title{
  margin-top: 0px;
  margin-bottom: 5px;
}

.Countdown{
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 0;
  padding: 30px 10px;
  display: block;
  /* float: left; */
  
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 40px;
}
.userhome{
  height: 100%;
  width: 55%;
  z-index: 1;
  overflow-x: hidden;
  float: right;
  position: relative;
}

.pick{
  display: block;
  clear: left;
  padding-left:40px;
}
.column1{
  width: 50%;
  height: 100%;
  float:left;
}
.column2{
  width: 50%;
  height: 100%;
  float:right;
}
.addgroup{
  width: 500px;
  align-content: center;
  display: inline-block;
  clear: right;
  padding-inline: 50px;
  padding-right: 100px;
}
